.loginFrom {
  width: 450px;
}

.loginFromButton {
  width: 100%;
}

.antdprolayoutsuserlayoutlogo {
  height: 44px;
  margin-right: 16px;
  vertical-align: top;
}

.antdprolayoutsuserlayouttitle {
  position: relative;
  top: 2px;
  color: rgba(0, 0, 0, .85);
  font-weight: 600;
  font-size: 33px;
  font-family: Avenir, helvetica neue, Arial, Helvetica, sans-serif;
}

.antdprolayoutsuserlayoutheader {
  height: 44px;
  line-height: 44px;
  text-align: center;
}

.antdprolayoutsuserlayoutdesc {
  margin-top: 12px;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, .45);
  font-size: 14px;
  text-align: center;
}


@keyframes fadenum {
  0% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;

  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


.tagFadeIn {
  -webkit-animation: fadenum 0.5s ease;
  -moz-animation: fadenum 0.5s ease;
  animation: fadenum 0.5s ease;
}
