.headerMenu {
  display: flex;
  justify-content: space-between;

}

.headerTitle {
  display: inline;
  font-size: 18px;
  font-weight: bolder;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
  margin-left: 10px;
}
